body {
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.signupbody {
    align-items: center;
}

label {
    margin: 2rem;
    padding: 2rem;
}

.signup {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 3rem;
}

.input-container {
    padding-bottom: 1rem;
    width: 100%;
}

.input1 {
    padding-top: 1rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    border-radius: 12px;
    height: 4rem;
    width: 100%;
    outline: 0;
    border: none;
    color: burlywood;
    background-color: rgb(44, 35, 35);
    padding: 2px 3px 0;
}

textarea {
    width: 100%;
    padding: 2px 3px 0;
    font-family: "Raleway", sans-serif;
    text-align: center;
    outline: none;
    color: burlywood;
    background-color: rgb(44, 35, 35);
    border-radius: 12px;
}

.form-c {
    align-items: center;
    padding: 1rem;
    margin: auto;
    border-radius: 20px;
    border: none;
    background: rgb(56, 38, 10, 0.5);
    box-shadow: 20px 20px 40px -6px;
}

.form-con {
    box-sizing: border-box;
    color: black;
    display: block;
    margin-bottom: 0.5rem;
}

.submit-btn {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    color: white;
    background-color: rgb(117, 90, 50);
    margin-top: 2rem;
    border: none;
    border-radius: 2cm;
}

button:hover {
    color: rgb(117, 90, 50);
    background-color: white;
}